/* aside */

ul {
    list-style-type: none;
}

.nav-list {
    display: flex;
    flex-direction: column;
    gap: 26px 0;
}

.nav-list a {
    position: relative;
    font-weight: 400;
    font-size: 16px;
    color: var(--blackish);
}

.nav-list a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0%;
    height: 2px;
    background-color: steelblue;
    transition: all 0.3s ease-in-out;
}

.nav-list a:hover::after {
    width: 100%;
}

.nav-list li.active {
    position: relative;
}

.nav-list li.active a {
    font-weight: 600;
}

.nav-list li.active a::after {
    display: none;
}

.nav-list li.active::before {
    content: '';
    position: absolute;
    left: -12px;
    bottom: -8px;
    width: 4px;
    height: 36px;
    border-radius: 10px;
    background-color: var(--bluish);
}
