* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #1c1819;
}

.x-y-centering {
    position: relative;
    width: 100%;
    height: 100%;
}

.modal-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 1040px;
}

.modal-dialog {
    display: flex;
    justify-content: space-between;
    position: relative;
    background: #fff;
    padding: 64px 56px;
    border-radius: 16px;
}

.modal-close {
    width: 32px;
    height: 32px;
    border: none;
    background: none;
    cursor: pointer;
    position: absolute;
    transition: all 0.3s;
    right: 3%;
    top: 3%;
}

.modal-close:hover {
    transform: scale(1.1);
}

.goods-img-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.additional-img {
    width: 100%;
    max-width: 330px;
}

.additional-img img {
    margin-right: 8px;
}

.additional-img img:last-child {
    margin-right: 0;
}

.active-img {
    border: 1px solid #2a81dd;
    border-radius: 8px;
}

.main-info {
    position: relative;
    margin-bottom: 24px;
}

.goods-information {
    min-width: 573px;
}

.client-points {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 196px;
    height: 68px;
    background: #f0fafd;
    border-radius: 16px;
    padding: 8px 16px;
    position: absolute;
    bottom: 0;
    right: 0;
}

.money h6,
.money p {
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #888b94;
    margin-bottom: 4px;
}

.client-points p {
    font-weight: 600;
    color: #1c1819;
}

.money-bag {
    width: 40px;
    height: 45px;
    background: url('../assets/img/money-bag.png');
    background-repeat: no-repeat;
}

.goods-title,
.points {
    font-size: 20px;
    line-height: 32px;
    color: #1c1819;
    font-weight: normal;
}

.points {
    font-weight: 600;
    margin: 8px 0;
}

.order {
    width: 135px;
    height: 36px;
    background: #2a81dd;
    transition: all 0.3s;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(28, 24, 25, 0.1);
}

.order:hover {
    background: #4e9ef3;
}

.order a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: #fff;
    font-size: 14px;
    line-height: 24px;
}

.inner-info {
    margin-bottom: 24px;
}

.inner-info:last-child {
    margin-bottom: 0;
}

.radio-info,
.non-radio-info {
    font-size: 14px;
    line-height: 24px;
    color: #1c1819;
    font-weight: normal;
    margin-bottom: 8px;
}

.radio-wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 460px;
}

.color-container,
.size-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 114px;
    height: 40px;
    margin-right: 8px;
    margin-bottom: 8px;
}

.size-container {
    width: 40px;
    height: 40px;
}

.color-container:last-child,
.size-container:last-child {
    margin-right: 0;
}

.color-container input[type='radio'],
.size-container input[type='radio'] {
    display: none;
}

.color-container label,
.size-container label {
    display: flex;
    align-items: center;

    /* justify-content: space-evenly; */
    width: 100%;
    height: 100%;
    color: #2a81dd;
    padding: 8px;
    transition: all 0.3s;
    cursor: pointer;
    border: 1px solid rgba(28, 24, 25, 0.1);
    border-radius: 8px;
}

.size-container label {
    justify-content: center;
}

.color-container label:hover,
.size-container label:hover {
    background: #edf9ff;
}

.color-container input[type='radio']:checked + label,
.size-container input[type='radio']:checked + label {
    color: #1c1819;
    border: unset;
    background: #d6ecfb;
}

.color {
    width: 24px;
    height: 24px;
    border-radius: 4px;
    margin-right: 8px;
}

.color-blue {
    background: #00458a;
}

.color-whitish {
    background: #efe8d8;
}

.color-grey {
    background: #d4d4da;
}

.details-info,
.non-radio-info {
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #1c1819;
}

.non-radio-info {
    font-weight: 600;
}
