@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

:root {
    --blackish: #1c1819;
    --bluish: #2a81dd;
    --grey: #888b94;
    --radio-checked: #d6ecfb;
    --white: #fff;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: var(--blackish);
    overflow-x: hidden;
    line-height: 24px;
}

a {
    text-decoration: none;
}

/* header */

.header {
    width: 100vw;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

.inner-header {
    padding: 32px 40px 0 32px;
    display: flex;
}

.logo {
    margin-right: 66px;
}

.search-user {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1040px;
}

.search-wrapper form {
    position: relative;
}

.search-wrapper input[type='text'] {
    height: 44px;
    padding: 8px 8px 8px 56px;
    border: none;
    color: var(--grey);
    background: #f2f2f3;
    border-radius: 8px;
    font-size: 18px;
    line-height: 28px;
    font-weight: normal;
    outline: none;
    transition: all 0.3s;
}

.search-wrapper input[type='text']:focus {
    border: 1px solid #d3d3e9;
}

.search-btn {
    position: absolute;
    left: 16px;
    bottom: 10px;
    background: none;
    background-image: url('../assets/img/search.svg');
    background-repeat: no-repeat;
    background-position: center;
    width: 24px;
    height: 24px;
    border: none;
    outline: none;
    cursor: pointer;
    transition: all 0.3s;
}

.search-btn:hover {
    transform: scale(0.9);
}

.search-btn:active {
    filter:
        invert(82%) sepia(17%) saturate(468%) hue-rotate(169deg)
        brightness(83%) contrast(88%);
}

.user-header {
    display: flex;
    gap: 0 16px;
    text-decoration: none;
    position: relative;
}

.user-header::after {
    content: '';
    width: 0%;
    position: absolute;
    left: 0;
    bottom: -10px;
    height: 2px;
    background-color: steelblue;
    transition: all 0.5s;
}

.user-header:hover::after {
    width: 100%;
}

.user-header img {
    display: block;
    border-radius: 50%;
}

.user-name {
    font-weight: 600;
    color: var(--bluish);
}

.user-point {
    font-weight: normal;
    font-size: 13px;
    line-height: 20px;
    color: var(--blackish);
}

/* Main */

.main-aside-wrapper {
    width: 100vw;
    margin-top: 24px;
}

.main-container {
    display: flex;
    gap: 0 132px;
    padding: 0 40px 0 32px;
}

.main {
    max-width: 1040px;
}

.banner {
    display: block;
    border-radius: 8px;
    margin-bottom: 24px;
}

.about-points {
    display: flex;
    gap: 0 24px;
}

.about-points a {
    width: 100%;
    max-width: 330px;
    border-radius: 16px;
    transition: all 0.3s;
}

.about-points div {
    display: flex;
    align-items: center;
    padding: 10px 25px;
    gap: 0 16px;
    color: var(--blackish);
    font-weight: 600;
    font-size: 20px;
    line-height: 32px;
}

.green-points {
    background: #eff8eb;
}

.green-points:hover {
    background: #b3e59c;
}

.yellow-points {
    background: #fffae7;
}

.yellow-points:hover {
    background: #fff0b2;
}

.blue-points {
    background: #e9f2fb;
}

.blue-points:hover {
    background: #b8d2ef;
}

.radio-buttons {
    display: flex;
    align-items: center;
    gap: 0 8px;
    margin-top: 40px;
}

.radio-item {
    display: inline-block;
}

.radio-item input[type='radio'] {
    display: none;
}

.radio-item label {
    display: inline-block;
    padding: 6px 15px;
    cursor: pointer;
    user-select: none;
    border-radius: 8px;
    border: 1px solid rgba(28, 24, 25, 0.1);
    text-align: center;
    font-weight: 400;
    color: var(--bluish);
}

.radio-item input[type='radio']:checked + label {
    border: none;
    background: var(--radio-checked);
    color: var(--blackish);
}

.goods {
    display: flex;
    flex-wrap: wrap;
    gap: 24px 24px;
    margin-top: 16px;
    margin-bottom: 192px;
}

.goods-item {
    display: flex;
    flex-direction: column;
    min-height: 330px;
    max-width: 330px;
    border-radius: 8px;
    transition: all 0.3s;
}

.goods-item:hover {
    box-shadow: 0 2px 10px rgba(28, 24, 25, 0.1);
}

.goods-item:hover .item-order {
    opacity: 1;
}

.goods-img-wrap {
    max-width: 330px;
    position: relative;
}

.goods-item img {
    display: block;
    width: 100%;
}

.new-cloth {
    position: absolute;
    left: 16px;
    bottom: 16px;
    padding: 0 4px;
    background-color: #64bd38;
    color: var(--white);
    font-size: 13px;
    line-height: 20px;
    border-radius: 3px;
    text-transform: uppercase;
}

.goods-item .item-desc {
    padding: 16px;
    font-weight: 600;
}

.item-cost {
    font-size: 24px;
    line-height: 36px;
    color: var(--bluish);
    margin-bottom: 8px;
}

.item-name {
    font-size: 16px;
    color: var(--blackish);
    margin-bottom: 4px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.item-size {
    font-weight: 400;
    color: var(--grey);
    margin-bottom: 16px;
}

.item-order {
    opacity: 0;
    background-color: var(--bluish);
    color: var(--white);
    text-align: center;
    padding: 10px 0;
    width: 100%;
    max-width: 298px;
    min-height: 44px;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 400;
    transition: all 0.3s;
    box-shadow: 0 2px 4px rgba(28, 24, 25, 0.1);
}

.item-order:hover {
    background-color: #b3b2ff;
}

.item-order:active {
    background-color: #5885c0;
}

/* aside */

ul {
    list-style-type: none;
}

.nav-list {
    display: flex;
    flex-direction: column;
    gap: 26px 0;
}

.nav-list a {
    position: relative;
    font-weight: 400;
    font-size: 16px;
    color: var(--blackish);
}

.nav-list a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0%;
    height: 2px;
    background-color: steelblue;
    transition: all 0.3s ease-in-out;
}

.nav-list a:hover::after {
    width: 100%;
}

.nav-list li.active {
    position: relative;
}

.nav-list li.active a {
    font-weight: 600;
}

.nav-list li.active a::after {
    display: none;
}

.nav-list li.active::before {
    content: '';
    position: absolute;
    left: -12px;
    bottom: -8px;
    width: 4px;
    height: 36px;
    border-radius: 10px;
    background-color: var(--bluish);
}

/* footer */

.footer {
    position: fixed;
    bottom: 0;
    width: 100vw;
    background-color: var(--blackish);
}

.footer-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px 20px 32px;
}

.footer-logo {
    color: var(--white);
    font-weight: normal;
    font-size: 16px;
}

.social-logo {
    display: flex;
    flex-direction: column;
    gap: 8px 0;
}

.social-logo ul {
    display: flex;
    align-items: center;
    gap: 0 8px;
}

.footer-social li a img {
    display: block;
    width: 24px;
    height: 24px;
}

.footer-social li {
    transition: all 0.3s;
}

.footer-social li:hover {
    transform: scale(1.1);
}

.footer-contact-us {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 450px;
}

.footer-contact-us p {
    font-weight: 400;
    color: var(--white);
}

.write-us {
    width: 100%;
    max-width: 150px;
    max-height: 36px;
    padding: 6px 0;
    background-color: var(--white);
    box-shadow: 0 2px 4px rgba(28, 24, 25, 0.1);
    border-radius: 8px;
    transition: all 0.3s;
}

.write-us:hover {
    background-color: rgb(214, 209, 209);
}

.write-us a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--bluish);
}

/* Modal */

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: var(--blackish);
}

.x-y-centering {
    position: relative;
    width: 100%;
    height: 100%;
}

.modal-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 1040px;
}

.modal-dialog {
    display: flex;
    justify-content: space-between;
    position: relative;
    background: var(--white);
    padding: 64px 56px;
    border-radius: 16px;
    gap: 0 24px;
}

.modal-close {
    width: 32px;
    height: 32px;
    border: none;
    background: none;
    cursor: pointer;
    position: absolute;
    transition: all 0.3s;
    right: 30px;
    top: 30px;
}

.modal-close:hover {
    transform: scale(1.1);
}

.goods-img-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.additional-img {
    width: 100%;
    max-width: 330px;
}

.additional-img img {
    margin-right: 8px;
}

.additional-img img:last-child {
    margin-right: 0;
}

.active-img {
    border: 1px solid var(--bluish);
    border-radius: 8px;
}

.main-info {
    position: relative;
    margin-bottom: 24px;
}

.goods-information {
    min-width: 573px;
}

.client-points {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 196px;
    height: 68px;
    background: #f0fafd;
    border-radius: 16px;
    padding: 8px 16px;
    position: absolute;
    bottom: 0;
    right: 0;
}

.money h6,
.money p {
    font-weight: normal;
    color: var(--grey);
    margin-bottom: 4px;
}

.client-points p {
    font-weight: 600;
    color: var(--blackish);
}

.money-bag {
    width: 40px;
    height: 45px;
    background: url('../assets/img/money-bag.png');
    background-repeat: no-repeat;
}

.goods-title,
.points {
    font-size: 20px;
    line-height: 32px;
    color: var(--blackish);
    font-weight: normal;
}

.points {
    font-weight: 600;
    margin: 8px 0;
}

.order {
    width: 100%;
    max-width: 135px;
    height: 36px;
    background: var(--bluish);
    transition: all 0.3s;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(28, 24, 25, 0.1);
}

.order:hover {
    background: #4e9ef3;
}

.order a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: var(--white);
}

.inner-info {
    margin-bottom: 24px;
}

.inner-info:last-child {
    margin-bottom: 0;
}

.radio-info,
.non-radio-info {
    color: var(--blackish);
    font-weight: normal;
    margin-bottom: 8px;
}

.radio-wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 460px;
}

.color-container,
.size-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 114px;
    height: 40px;
    margin-right: 8px;
    margin-bottom: 8px;
}

.size-container {
    width: 40px;
    height: 40px;
}

.color-container:last-child,
.size-container:last-child {
    margin-right: 0;
}

.color-container input[type='radio'],
.size-container input[type='radio'] {
    display: none;
}

.color-container label,
.size-container label {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    color: var(--bluish);
    padding: 8px;
    transition: all 0.3s;
    cursor: pointer;
    border: 1px solid rgba(28, 24, 25, 0.1);
    border-radius: 8px;
}

.size-container label {
    justify-content: center;
}

.color-container label:hover,
.size-container label:hover {
    background: #edf9ff;
}

.color-container input[type='radio']:checked + label,
.size-container input[type='radio']:checked + label {
    color: var(--blackish);
    border: unset;
    background: var(--radio-checked);
}

.color {
    width: 24px;
    height: 24px;
    border-radius: 4px;
    margin-right: 8px;
}

.color-blue {
    background: #00458a;
}

.color-whitish {
    background: #efe8d8;
}

.color-grey {
    background: #d4d4da;
}

.details-info,
.non-radio-info {
    font-weight: 400;
    line-height: 14px;
    color: var(--blackish);
}

.non-radio-info {
    font-weight: 600;
}
