@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
@import url('header.css');
@import url('main.css');
@import url('aside.css');
@import url('footer.css');
@import url('modal.css');

:root {
    --blackish: #1c1819;
    --bluish: #2a81dd;
    --grey: #888b94;
    --radio-checked: #d6ecfb;
    --white: #fff;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    max-width: 100%;
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: var(--blackish);
    overflow-x: hidden;
    line-height: 24px;
    min-height: 100vh;
    position: relative;
}

a {
    text-decoration: none;
}
